// colors
$white: rgba(255, 255, 255, 1);
$game-overlay: rgba(1, 1, 1, 0.9);
$text-hover: rgba(65, 130, 228, 1);
$text-primary: rgba(36, 41, 46, 1);
$text-secondary: rgba(255, 255, 255, 1);
$nav-link-active: rgba(246, 249, 254, 1);
$button-primary: rgba(65, 130, 228, 1);
$button-primary-hover: rgba(63, 113, 208, 1);
$border-primary: rgba(225, 228, 232, 1);
$carousel-pagination-primary: rgba(148, 160, 180, 1);
$carousel-pagination-primary-active: rgba(36, 41, 46, 1);

// layout
$header-height: 88px;
$content-max-width: 1280px;

// font-size
$desktop-font-small: 17px;
$desktop-font-medium: 24px;
$desktop-font-large: 32px;
$desktop-font-extra-large: 40px;
$mobile-font-medium: 17px;
$mobile-font-large: 22px;
$mobile-font-extra-large: 26px;

// line-height
$desktop-title-line-height: 55px;
$subtitle-line-height: 44px;
$desktop-text-line-height: 28px;
$mobile-title-line-height: 36px;
$mobile-text-line-height: 24px;
$desktop-box-game-title-line-height: 33px;
$desktop-box-game-description-line-height: 21px;
